body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    color: #c3d9f8;
    background-color: #03313d;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}